@import "~src/app/custom.scss";

.card {
  width: 312px;
  height: 320px;
  background-color: white;
  margin: 5px;
  padding: 0 5px 0 5px;
  position: relative;
}

.date {
  padding-top: 5px;
  font-weight: 600;
}

.title {
  padding-top: 5px;
}
.score {
  text-align: right;
  color: darkgrey;
}
.author {
  position: absolute;
  right: 5px;
  top: 5px;
  color: $app-color;
}

a {
  color: $app-color;
  text-decoration: none;

  &:visited {
    color: $app-color;
  }

  &:hover {
    color:$app-hover-color;
  }

  &:active {
    color: $app-color;
  }
}

.permalink {
  position: absolute;
  bottom: 9px;
  left: 5px;
}

.comments {
  position: absolute;
  bottom: 5px;
  left: 5px;

  &:hover {
    color: $app-hover-color;
  }
}

.cardimage {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 5px 5px 0;
  height: 100px;
  width: 100px;
  border-bottom: 1px solid lightgrey;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.clickable {
  cursor: pointer;
  color: $app-color;

  &:hover {
    color: $app-hover-color;
  }
}

.icon {
  margin: 0 5px;

}
